[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
AnyCPU/

*.user
*.suo
*.userosscache
*.sln.docstates

Monsters_Around/Content/bin/
Monsters_Around/Content/obj/
*.mgstats

*.nupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

.vs/
.vscode/
.idea/
*.cache
*.pdb
*.mdb
*.opendb
*.VC.db

.DS_Store
Thumbs.db
desktop.ini

*.log
